@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@layer base {
  @font-face {
    font-family: 'SpaceRanger';
    src: url('/fonts/SpaceRanger.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*==================================*/
/* Custom styling */
/*==================================*/

/* Home Page */
/*==================================*/
.c-text-shadow-lg{
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.c-text-shadow-md{
  text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878, 
      -3px 7px 1px #7a7a7a;

}

/* About Page */
/*==================================*/
.c-bottom-box-shadow{
  box-shadow: rgba(0, 0, 0, 0.95) 0px 25px 20px -20px;
}

/* Carousel */
/*==================================*/
.embla {
  overflow: hidden;
  max-height: 600px;
}
.embla__container {
  display: flex; 
}
.embla__slide {
  position: relative;
  flex: 0 0 50%;
  max-width: 100%;
  margin-inline: 20px;
}