@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@layer base {
  @font-face {
    font-family: 'SpaceRanger';
    src: url('/fonts/SpaceRanger.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*==================================*/
/* Custom styling */
/*==================================*/

/* Home Page */
/*==================================*/
.c-text-shadow-lg{
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.c-text-shadow-sm{
  text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15);
}


/* About Page */
/*==================================*/
.c-bottom-box-shadow{
  box-shadow: rgba(0, 0, 0, 0.95) 0px 25px 20px -20px;
}

